@import "components/circle-menu.scss";

.circle-menu {
  @include on-circle($item-count: 5, $circle-size: 9em);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cir-menu-sm-ball,
.cir-menu-lg-ball {
  position: absolute;
  display: block;
  border-radius: 50%;
}

.cir-menu-lg-ball {
  z-index: 500;
  width: var(--circle-menu-lg-ball-size);
  height: var(--circle-menu-lg-ball-size);
  top: var(--circle-menu-lg-ball-anchor);
  left: var(--circle-menu-lg-ball-anchor);
}

.cir-menu-sm-ball {
  width: var(--circle-menu-sm-ball-size);
  height: var(--circle-menu-sm-ball-size);
  top: calc(var(--circle-menu-sm-ball-anchor));
  left: calc(var(--circle-menu-sm-ball-anchor));
}

.cir-menu-item {
  transition: top 1s ease-in-out, left 1s ease-in-out, transform 1.5s ease-in-out;
  cursor: pointer;

  &.circle-enable {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    z-index: 1000;
    transform: rotate(0) translate(0) rotate(0) !important;
  }

  &.circle-disable {
    top: var(--circle-menu-sm-ball-anchor);
    left: var(--circle-menu-sm-ball-anchor);
    transform: rotate(0) translate(0) rotate(0) !important;
  }

  &:hover {
    box-shadow: 5px 5px 5px black;
  }
}

.cir-menu-animation-in {
  z-index: 1000;
  transform: rotate(0) translate(0) rotate(0) !important;
  animation-name: cir-menu-fadein;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  animation-direction: normal;
}

.cir-menu-animation-out {
  transform: rotate(0) translate(0) rotate(0) !important;
  animation-name: cir-menu-fadeout;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-direction: reverse;
}

@keyframes cir-menu-fadein {
  50% {
    z-index: 1000;
    top: 0;
    left: 0;
    border-radius: 100%;
    width: var(--circle-menu-sm-ball-size);
    height: var(--circle-menu-sm-ball-size);
  }
  50% {
    border-radius: 0 50% 50% 50%;
  }
  80% {
    top: 0;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    z-index: 1000;
  }
}

@keyframes cir-menu-fadeout {
  50% {
    z-index: 1000;
    top: 0;
    left: 0;
    border-radius: 100%;
    width: var(--circle-menu-sm-ball-size);
    height: var(--circle-menu-sm-ball-size);
  }
  50% {
    border-radius: 0 50% 50% 50%;
  }
  80% {
    top: 0;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    z-index: 1000;
  }
}